.UpcomingEventsTimePreview {
	box-shadow: 0 0 10px 5px #ddd;
	border-radius: 5px;
	margin-top: 1rem;
	padding: 0.5rem;
	width: 100%;

	thead {
		text-align: center;

		.separatorBottom {
			border-bottom: 1px solid #ddd;
			padding-bottom: 0.5rem;
		}
	}

	tbody {
		tr {
			td {
				padding: 0.25rem;
				max-width: 3rem;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
}
