.FormInput {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: left;

	.labelContainer {
		text-align: left;
		margin-bottom: 0.5em;

		label {
			font-weight: bold;
		}
	}

	.inputContainer {
		text-align: left;

		input,
		select,
		textarea {
			background-color: #fff;
			padding: 0.5rem;
			border: 1px solid #bbb;
			min-width: 15rem;
		}

		textarea {
			width: 25rem;
			height: 5rem;
		}

		.react-datepicker {
			font-size: 1rem;
		}

		.react-datepicker__input-container {
			.react-datepicker__close-icon {
				position: relative;
				margin: 0rem;
				margin-left: 1rem;
				width: 2rem;
				height: 2rem;

				&:hover {
					background-color: transparent;
				}
			}
		}

		.react-datepicker__day--highlighted {
			background-color: red;
		}
	}
}
