.actionButton {
	background-color: #ddd;
	border: 1px solid #888;
	padding: 1rem 1rem;
	margin: 1rem;
	width: 15rem;
	font-weight: bold;

	&.disabled {
		background-color: #aaa;
	}

	&:hover:enabled {
		background-color: #bbb;
		cursor: pointer;
	}
}
